# Python virtual environments
env/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Model checkpoints and outputs
*.pth
*.png
metrics.csv

# Other temporary files
*.tmp
*.bak

runs_simulator
Data
*.csv
runs_simulator/*
fit_plots
crazy_fit_plots
CMaps
figs_simulator
Test_on_power_dist
Test_power_distribution
Data.zip
*.pt
data_cache.pt